[submodule "Javascript-study"]
	path = Javascript-study
	url = https://github.com/Itsbeenalongday/Javascript-study.git
[submodule "Python-Study"]
	path = Python-Study
	url = https://github.com/Itsbeenalongday/Python-Study.git
[submodule "Linux-instruction"]
	path = Linux-instruction
	url = https://github.com/Itsbeenalongday/Linux-instruction.git
[submodule "Git-Study"]
	path = Git-Study
	url = https://github.com/Itsbeenalongday/Git-Study.git
[submodule "IO"]
	path = IO
	url = https://github.com/Itsbeenalongday/IO.git
[submodule "Ruby-study"]
	path = Ruby-study
	url = https://github.com/Itsbeenalongday/Ruby-study.git
[submodule "AWS"]
	path = AWS
	url = https://github.com/Itsbeenalongday/AWS.git
