[submodule "cpp-cheatsheet"]
	path = cpp-cheatsheet
	url = https://github.com/Itsbeenalongday/cpp-cheatsheet.git
[submodule "Javascript-study"]
	path = Javascript-study
	url = https://github.com/Itsbeenalongday/Javascript-study.git
[submodule "Python-Study"]
	path = Python-Study
	url = https://github.com/Itsbeenalongday/Python-Study.git
[submodule "Linux-instruction"]
	path = Linux-instruction
	url = https://github.com/Itsbeenalongday/Linux-instruction.git
[submodule "Git-Study"]
	path = Git-Study
	url = https://github.com/Itsbeenalongday/Git-Study.git
